body {
  background-color: #262626;
}

.lauchPad {
  margin: 150px auto;
  text-align: center;
  width: 960px;
  background-color: #ccc;
  padding: 20px;
  border-radius: 25px;
}

p {
  width: 150px;
  height: 150px;
  display: inline-block;
  margin: 20px;
  position: relative;
  padding: 10px 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 50px #2f2f2f;
  border: 6px solid transparent;
  font-weight: bold;
}

.letra {
  margin: 0 auto;
  width: 90px;
  position: relative;
  top: 30px;
  font-size: 28px;
  font-family: Arial, Heveltica, sans-serif;
  color: #373737;
  display: block;
}

.roxo {
  box-shadow: 4px 4px 50px #9b0bdf;
  border: 6px solid #9b0bdf;
  color: #9b0bdf;
}

.verde {
  box-shadow: 4px 4px 50px #23db25;
  border: 6px solid #23db25;
  color: #23db25;
}

.azul {
  box-shadow: 4px 4px 50px #23aadb;
  border: 6px solid #23aadb;
  color: #23aadb;
}

.amarelo {
  box-shadow: 4px 4px 50px #e2e020;
  border: 6px solid #e2e020;
  color: #e2e020;
}

.vermelho {
  box-shadow: 4px 4px 50px #a71212;
  border: 6px solid #a71212;
  color: #a71212;
}

.rosa {
  box-shadow: 4px 4px 50px #ec4ebf;
  border: 6px solid #ec4ebf;
  color: #ec4ebf;
}

.hover {
  transition: 1.5s;
  box-shadow: 4px 4px 50px #2f2f2f;
  border: 6px solid transparent;
  color: #373737;
}

span.Loop {
  text-align: center;
  display: block;
  padding: 5px;
  margin: 40px auto 0px auto;
  width: 90px;
  font-size: 24px;
  font-family: Arial, Heveltica, sans-serif;
  color: #373737;
  cursor: pointer;
}

.loopOn {
  border-bottom: 6px solid #2ccc1f;
}

.loopOff {
  box-shadow: inset 4px 4px 10px #2f2f2f;
  border-bottom: 6px solid #a31815;
}
